
html, body {
    height: 100%;
  }
  @font-face{
    font-family: 'Awesome';
    font-style: normal;
    font-weight: 400;
    src: local('Awesome Font'), url('Fontawesome-webfont.woff2') format ('woff2');
}

.boasvindas{
    font-family: 'Awesome';
    font-size:36px;
    display: flex; 
    text-align: center;
    justify-content: center;
    font-weight: 400;
}
.nome-com-logo{
    font-family: 'Awesome';
    font-size:56px;
    display: flex;
    align-items: center;  
    height: 50%;
    justify-content: center;  
}
body {
    width: 100%;
    height: 100%;   
    background-color:rgba(240, 149, 133, 0.589);
}
header {
    font-family: 'Awesome';
    font-size: 40px;
    width:100%;
    height:10%;
    color: black;
    font-weight: bold;
}
main{
    font-family: 'Awesome';
    width:100%;
    height:85%;
    color: black;
    font-weight: bold;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #212226;
}
footer p{
    font-family: 'Awesome';
    font-size: 20px;
    color: #fff;
}

